
#about {
    text-align: center;
    font-family: Helvetica;
    width: 800px;
    margin: 0 auto;
    padding-top: 60px;
}
  
#profile {
    display: flex;
    flex-direction: row
}
  
#about #profile-explanation {
    font-family: Helvetica;
    font-size: 16px;
    text-align: justify;
    width: 500px;
    padding-right: 20px;
}
  
#about #profile-photo {
    width: 300px;
}
  
#profile-photo a{
    text-decoration: none;
    pointer-events: none;
}

@media (max-width: 770px){
    #about {
      width: 80%;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #profile {
      display: block;
    }
  
    #about #profile-explanation {
      margin-top: -20px;
      width: 95%;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;    
    }
    
    #about #profile-photo {
      width: 90%;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #about #profile-photo img{
      width: 60%;
      max-width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    #about {
      margin-top: 20px;
      width: 90%;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #profile {
      margin-top: -50px;
      display: block;
    }
  
    #about #profile-explanation {
      width: 95%;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;    
    }
    
    #about #profile-photo {
      width: 90%;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #about #profile-photo img{
      width: 60%;
      max-width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }