#navbar {
    width: 100%;
    position: fixed;
    background-color:#F8F8F8;
    z-index: 9998;
}

.nav-toggle {
    opacity: 0.7;
    background-color: darkblue;
    margin-right: auto;
}

#responsiveMenu a{
    color: darkblue;
    font-family: Helvetica;
    font-weight: bold;
}

#responsiveMenu ul{
    margin-left: auto;
}
