#skills{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding-top: 60px;
  }
  
.skills-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    width: 200px;
    height: 50px;
    margin: 5px 5px;
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
    border-radius: 10px;
    font-size: 16px;
}

@media (max-width: 770px){
    #skills{
      width: 80%;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .skills-section {
      margin-top: -50px;
    }
  
    .skill {
      width: auto;
    }
}
  
@media (max-width: 500px){
    #skills{
      padding-top: 10px;
      width: 80%;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    .skills-section {
      margin-top: -50px;
    }
  
    .skill {
      height: 24px;
      width: auto;
      font-size: 14px;
    }
}